main {
  padding: 0 6rem 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.contacto__parrafo {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--azul-claro);
}
.contenedor {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.contacto__detalles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}
.contacto__detalles__numeros {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.telefono {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fa-headset {
  font-size: 60px;
  color: var(--gris-claro);
}
.cliente__parrafo {
  font-weight: 700;
}
.cliente__numero {
  font-weight: 400;
}
.cliente__mensaje {
  font-size: 1.5rem;
  font-weight: 700;
}
.cliente__duda {
  font-size: 0.9rem;
  color: var(--gris-claro);
  line-height: 1.5rem;
}

form {
  width: 70%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
.correo-nombre {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.field__nombre-correo {
  width: 50%;
}
.entrada-datos {
  font-size: 16px;
  line-height: 1.3rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--gris-form);
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}
.field__mensaje {
  width: 100%;
}
.mensaje {
  resize: vertical;
  width: 100%;
}
.entrada-datos:hover {
  background-color: var(--blanco);
  /* border: 1px solid var(--gris-form); */
  box-shadow: 0 0 4px var(--azul-claro);
}
.entrada-datos:focus {
  background-color: var(--blanco);
  /* border: 1px solid var(--gris-form); */
  box-shadow: 0 0 4px var(--azul-claro);
}

.boton-enviar {
  position: relative;
  overflow: hidden;
  background-color: var(--azul-claro);
  border: none;
  padding: 10px 20px;
  color: var(--blanco);
  font-size: 1.2rem;
  font-weight: 700;
  width: 180px;
  border-radius: 5px;
}
.boton-enviar:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.01);
  box-shadow: 0 0 4px var(--azul-oscuro);
}
#mensaje-enviado {
  display: none;
  background-color: var(--verde-pricipal);
  padding: 10px;
  max-width: 320px;
  border-radius: 10px;
  color: var(--blanco);
  box-shadow: 0 0 10px var(--gris-claro);
}

.mapa__direccion {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--verde-pricipal);
}
.section__mapa {
  width: 100%;
  box-shadow: 0 0 4px var(--azul-oscuro);
}
