footer {
  width: 100%;
  background-color: var(--azul-footer);
  color: var(--blanco);
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  /* align-items: center; */
  padding: 2rem;
}
@media screen and (width<545px) {
  footer {
    flex-direction: column;
  }
}
@media screen and (width<375px) {
  footer {
    flex-direction: column;
  }
}
.footer__descripcion {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid black;
}
.fa-whatsapp {
  font-size: 60px;
}
.footer__titulo {
  font-size: 1.5rem;
  font-weight: 700;
}
/* continuar aqui */
.footer__contacto {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid black;
}
.footer__contacto__titulo {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  /* text-decoration: underline 2px solid var(--rojo-claro); */
  margin-bottom: 1rem;
}
.fa-solid {
  margin-right: 1rem;
}
.footer__secciones {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid black;
}
.footer__secciones__titulo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  /* text-decoration: underline 1px solid var(--rojo-claro); */
}
.footer__secciones__lista {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__a__lista {
  margin-bottom: 1rem;
}
.a__footer:visited {
  color: var(--blanco);
}
.a__footer:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--verde-principal);
}
.whatsapp {
  position: relative;
}
.whatsapp__logo {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
@media screen and (width<768px) {
  .whatsapp__logo {
    width: 40px;
    height: 40px;
  }
}
