.servicios {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
}
.servicios__titulo {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--azul-claro);
}
.servicios__descripcion {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--verde-principal);
  text-align: center;
}
.servicios__detalles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.servicio__box {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: red; */
  gap: 2rem;
}
.imagen-titulo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.servicio__imagen {
  width: 100%;
  height: 100%;
  max-height: 300px;
  min-width: 320px;
  object-fit: cover;
  margin-right: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 4px var(--azul-claro);
}
.servicio__imagen__titulo,
h1 {
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-weight: 700;
  color: var(--crema);
  text-align: center;
}
.servicio__informacion {
  width: 60%;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: var(--gris-claro);
  /* margin-top: 1rem; */
}
